<?xml version="1.0" encoding="utf-8"?>
<events>
  <event date="2014-12-05" startTime="08:00" endTime="14:00" valid="0">
    <img>http://i1076.photobucket.com/albums/w459/nuhistorian_gammas/Toy%20Drive%202011/PhotoDec0230522PM.jpg</img>
    <location>Library Walk, UC San Diego</location>
    <description>The annual Toy Drive has been a tradition for our chapter. Every year our chapter spends a week collecting toys and donating them to the youth.&#13;
      &#13;
      This year we are donating the toys to ages 7-12 at the Southwest keys orphanage. So stop by Library Walk and donate something special during the holidays.</description>
    <name>Toy Drive</name>
    <type>Community Service Event</type>
  </event>
  <event date="2014-11-25" startTime="21:00" endTime="23:00" valid="0">
    <img>https://scontent-b-pao.xx.fbcdn.net/hphotos-xpa1/t31.0-8/904198_466265036825189_60072597_o.jpg</img>
    <location>La Jolla, San Diego</location>
    <description>We are always thankful for every brother we have met in this organization. That is why we set the time to thank each other for supporting us through the struggles and accomplishments of the year while enjoying some delicious food.</description>
    <name>Thanksgiving Dinner</name>
    <type>Brotherhood Event</type>
  </event>
  <event date="2014-11-27" startTime="08:00" endTime="11:00" valid="0">
    <img>https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/1461723_466813726770320_1040789190_n.jpg?oh=a7f759fbef35bb7beacd58f2c46c84ab%26oe=551525C9%26__gda__=1426594895_15d0108e3caeeef619eb414ab6cf941f</img>
    <location>Los Angeles County</location>
    <name>Annual Turkey Bowl 2014</name>
    <type>Brotherhood Event</type>
    <description>It is that time for the annual matchup between UCLA Gammas and CSUN Gammas. Last year 3 our brothers helped UCLA win the game. This year 9 of our brothers are heading north to try and help defend UCLA's championship.</description>
  </event>
  <event date="2014-12-20" startTime="15:00" valid="0" endTime="18:00">
    <img>http://i1076.photobucket.com/albums/w459/nuhistorian_gammas/Events/DSC_7928_zps3d446c4c.jpg</img>
    <location>UC San Diego</location>
    <name>Parent Dinner</name>
    <type>Brotherhood Event</type>
    <description>As brothers, we make an effort to get to know each others family and the Parent Dinner gives us the opportunity to accomplish this. In addition, we give our parents the chance to witness what we represent through presentation and open discussion.</description>
  </event>
  <event date="2015-01-31" startTime="08:00" valid="0" endTime="14:00">
    <img>https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/25957_10151391042222856_1832805764_n.jpg?oh=621d0fc802951e7ad4f76a65cbd5089e%26oe=556AE505%26__gda__=1433184812_d1002fc58bb85d14cce3afefe2a2ca49</img>
    <location>Olympian High School</location>
    <name>Academic Decathlon</name>
    <type>Brotherhood Event</type>
    <description>Gamma Zeta Alpha is proud to be the only official greek sponsor for the Academic Decathlon. We support every year with both with service and donations. Our brothers are excited to be volunteering this January.</description>
  </event>
  <event date="2015-03-05" startTime="17:00" valid="0" endTime="18:00">
    <img>https://scontent-b-lax.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10371938_665862003532157_2613154067159790040_n.jpg?oh=6ee6504eabf055fe8459ec35c90d2bc7%26oe=55234A22</img>
    <location>UC San Diego</location>
    <name>Homeless Charter</name>
    <type>Brotherhood Event</type>
    <description>The brothers of Gamma Zeta Alpha will be attending the Homeless Charter event on UC San Diego. The brothers will be making peanut butter sandwiches that will be delivered next day.</description>
  </event>
  <event date="2015-02-07" startTime="10:00" valid="0" endTime="14:00">
    <location>UC San Diego</location>
    <name>Nu Chapter Conference</name>
    <type>Academic Event</type>
    <description>THe first official Nu Chapter Conference is finally here. The alumni of Gamma Zeta Alpha Nu Chapter will be presenting workshops on how to advance in our careers. Tomas Olivia will be giving an opening speech at the start of the event.</description>
  </event>
  <event date="2015-02-12" startTime="09:00" valid="0" endTime="03:00">
    <img>https://scontent-a.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10388637_823482961042524_2366287969841090724_n.jpg?oh=14b253e6811449a54a0586cf9672bb91%26oe=554DEB7B</img>
    <location>F6ix</location>
    <name>V-Bash V</name>
    <type>Fundraiser/Community Service Event</type>
    <description>Triton Gammas are proud to present the highly anticipated club event of the year: V-BASH featuring upcoming R and B sensation, Eric Bellinger on Thursday, February 12, 2015 at F6ix in Downtown San Diego.&#13;
      &#13;
      Presale tickets are the ONLY tickets available!! This event is 18+/21+. Contact any brother to purchase tickets.</description>
  </event>
  <event date="2015-04-01" startTime="11:00" valid="0" endTime="14:00">
    <img>https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/18919_979764955374687_1830633687838422639_n.jpg?oh=26082c213501191285ee227b9c5ee2bb%26oe=5574C554%26__gda__=1438208087_622e8350c4f92850ec721096f82ad91f</img>
    <location>Library Walk</location>
    <name>Taco Sale</name>
    <type>Fundraiser Event</type>
    <description>Trying to get your taco fix coming back from Spring Break? Look no further! We got you.&#13;
      &#13;
      The gentlemen of Gamma Zeta Alpha Fraternity, Inc. Nu Chapter will be selling carne asada tacos with cilantro, onions, limon, and salsas on Library Walk during Week 1 on Wednesday, April 1, 2015 from 11:00am to 2:00pm.&#13;
      &#13;
      Tacos - $1.00 each. &#13;
      Sodas - $1.00 each. &#13;
      The Gamma Combo - 4 Tacos</description>
  </event>
  <event date="2015-04-04" startTime="09:00" valid="0" endTime="14:00">
    <img>https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/564797_10150795382092417_1773986894_n.jpg?oh=ef1aa4a3a980a173d1a31011d4e1cf72%26oe=55B1D1C9%26__gda__=1436797250_a0e6d08f197b9afecaa817e53804c5c4</img>
    <location>Library Walk</location>
    <name>Triton Day</name>
    <type>Promotional Event</type>
    <description>Are you coming to UCSD next year? Is so, come check us out at Library Walk, UCSD. We will be informing new students on what our organization is about and how we have manage to create a home away from home. We will also be handing out applications to our scholarship for incoming freshmen and transfers.</description>
  </event>
  <event date="2015-09-29" startTime="19:00" valid="1" endTime="21:00">
    <img>http://gammazetaalpha.ucsd.edu/images/events/mgc/mgc-info-night-2014.jpg</img>
    <location>TBA</location>
    <name>MGC Info Night</name>
    <type>Rush Event</type>
    <collaboration>Multi Greek Council</collaboration>
    <description>Interested, in rushing Gammas or other Mulicultural Greek organization, come join us at the Multicultural Greek Council Informational. We will be introducing ourselves and explaining what it is to be a Gamma and how you can join. Get to know other organizations as well as you socialize with some representatives from every organization. Food and snacks will be provided.</description>
  </event>
 
</events>
